.main-menu {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main-menu .overlap-wrapper {
  overflow: hidden;
  background-image: url('../img/bg.png');
  background-size: cover;
  background-position: 50% 50%;
  width: 1280px;
  height: 3131px;
}

.main-menu .overlap {
  position: relative;
  width: 1335px;
  height: 3295px;
  top: -3px;
  left: -7px;
}

.main-menu .rectangle {
  position: absolute;
  width: 1280px;
  height: 3295px;
  top: 0;
  left: 7px;
  background-color: #0000004c;
}

.main-menu .div {
  position: absolute;
  width: 1287px;
  height: 3110px;
  top: 3px;
  left: 0;
  background-color: #0000004c;
}

.main-menu .text-wrapper {
  position: absolute;
  width: 432px;
  top: 22px;
  left: 424px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: -4.48px;
  line-height: normal;
  white-space: nowrap;
}

.main-menu .COPYRIGHT-ETHIOPIA {
  position: absolute;
  width: 375px;
  top: 805px;
  left: 460px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: normal;
}

.main-menu .span {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: -0.48px;
}

.main-menu .text-wrapper-2 {
  text-decoration: underline;
}

.main-menu .group {
  position: absolute;
  width: 50px;
  height: 29px;
  top: 16px;
  left: 1217px;
}

.main-menu .rectangle-2 {
  position: absolute;
  width: 50px;
  height: 7px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 9px;
}

.main-menu .rectangle-3 {
  position: absolute;
  width: 50px;
  height: 7px;
  top: 22px;
  left: 0;
  background-color: #ffffff;
  border-radius: 9px;
}

.main-menu .rectangle-4 {
  position: absolute;
  width: 50px;
  height: 7px;
  top: 11px;
  left: 0;
  background-color: #ffffff;
  border-radius: 9px;
}

.main-menu .rectangle-5 {
  position: absolute;
  width: 1280px;
  height: 64px;
  top: 112px;
  left: 7px;
  background-color: #d8d8d780;
}

.main-menu .text-wrapper-3 {
  position: absolute;
  top: 115px;
  left: 430px;
  font-family: "Source Sans 3", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: -2.45px;
  line-height: normal;
}

.main-menu .text-wrapper-4 {
  position: absolute;
  top: 115px;
  left: 765px;
  font-family: "Source Sans 3", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: -2.45px;
  line-height: normal;
}

.main-menu .text-wrapper-5 {
  position: absolute;
  top: 115px;
  left: 250px;
  font-family: "Source Sans 3", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: -2.45px;
  line-height: normal;
}

.main-menu .text-wrapper-6 {
  position: absolute;
  top: 115px;
  left: 16px;
  font-family: "Source Sans 3", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: -2.45px;
  line-height: normal;
}

.main-menu .text-wrapper-7 {
  position: absolute;
  top: 115px;
  left: 600px;
  font-family: "Source Sans 3", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: -2.45px;
  line-height: normal;
}

.main-menu .text-wrapper-8 {
  position: absolute;
  top: 181px;
  left: 30px;
  font-family: "Source Sans 3", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .nenewee {
  position: absolute;
  width: 1242px;
  height: 146px;
  top: 236px;
  left: 27px;
}

.main-menu .overlap-group {
  position: relative;
  width: 1232px;
  height: 146px;
  background-color: #d9d9d9;
  border: 5px solid;
  border-color: #4b3d2e;
}

.main-menu .img {
  position: absolute;
  width: 136px;
  height: 125px;
  top: 6px;
  left: 7px;
  object-fit: cover;
}

.main-menu .overlap-2 {
  position: absolute;
  width: 233px;
  height: 126px;
  top: 11px;
  left: 158px;
}

.main-menu .overlap-3 {
  position: absolute;
  width: 212px;
  height: 62px;
  top: 0;
  left: 0;
}

.main-menu .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .p {
  position: absolute;
  top: 42px;
  left: 3px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: -1.12px;
  line-height: normal;
}

.main-menu .atkilt-we-t-string {
  position: absolute;
  top: 66px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: -0.84px;
  line-height: normal;
}

.main-menu .ye-abeasha-gomen {
  position: absolute;
  top: 72px;
  left: 404px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: -0.84px;
  line-height: normal;
}

.main-menu .kinche-bulgur {
  position: absolute;
  width: 376px;
  top: 72px;
  left: 805px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: -0.84px;
  line-height: normal;
}

.main-menu .vegetarian {
  position: absolute;
  width: 1236px;
  height: 146px;
  top: 393px;
  left: 27px;
}

.main-menu .text-wrapper-10 {
  position: absolute;
  top: 5px;
  left: 150px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .image {
  width: 135px;
  height: 128px;
  top: 4px;
  left: 7px;
  position: absolute;
  object-fit: cover;
}

.main-menu .text-wrapper-11 {
  position: absolute;
  top: 55px;
  left: 153px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: -1.12px;
  line-height: normal;
}

.main-menu .meat {
  position: absolute;
  width: 1236px;
  height: 146px;
  top: 550px;
  left: 27px;
}

.main-menu .vegetarian-2 {
  position: absolute;
  width: 136px;
  height: 125px;
  top: 8px;
  left: 7px;
  object-fit: cover;
}

.main-menu .overlap-group-2 {
  position: absolute;
  width: 533px;
  height: 67px;
  top: 6px;
  left: 158px;
}

.main-menu .text-wrapper-12 {
  position: absolute;
  top: 47px;
  left: 2px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: -1.12px;
  line-height: normal;
}

.main-menu .yedoro {
  position: absolute;
  width: 1236px;
  height: 146px;
  top: 864px;
  left: 27px;
}

.main-menu .image-2 {
  width: 134px;
  height: 122px;
  top: 6px;
  left: 5px;
  position: absolute;
  object-fit: cover;
}

.main-menu .overlap-group-3 {
  position: absolute;
  width: 549px;
  height: 67px;
  top: 3px;
  left: 147px;
}

.main-menu .text-wrapper-13 {
  position: absolute;
  top: 0;
  left: 1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .text-wrapper-14 {
  position: absolute;
  top: 47px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: -1.12px;
  line-height: normal;
}

.main-menu .yebeg {
  position: absolute;
  width: 1236px;
  height: 146px;
  top: 1021px;
  left: 27px;
}

.main-menu .overlap-group-4 {
  position: absolute;
  width: 560px;
  height: 65px;
  top: 5px;
  left: 146px;
}

.main-menu .text-wrapper-15 {
  position: absolute;
  top: 0;
  left: 2px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .text-wrapper-16 {
  position: absolute;
  top: 45px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: -1.12px;
  line-height: normal;
}

.main-menu .img-2 {
  width: 134px;
  height: 124px;
  top: 6px;
  left: 6px;
  position: absolute;
  object-fit: cover;
}

.main-menu .espresso {
  position: absolute;
  width: 1234px;
  height: 146px;
  top: 1219px;
  left: 27px;
}

.main-menu .text-wrapper-17 {
  position: absolute;
  top: -3px;
  left: 149px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .cafe-latte {
  position: absolute;
  width: 1234px;
  height: 146px;
  top: 1376px;
  left: 27px;
}

.main-menu .text-wrapper-18 {
  position: absolute;
  top: 0;
  left: 145px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .img-3 {
  width: 134px;
  height: 124px;
  top: 6px;
  left: 4px;
  position: absolute;
  object-fit: cover;
}

.main-menu .cappucino {
  position: absolute;
  width: 1234px;
  height: 146px;
  top: 1533px;
  left: 27px;
}

.main-menu .text-wrapper-19 {
  position: absolute;
  top: 0;
  left: 147px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .spiced-tea {
  position: absolute;
  width: 1234px;
  height: 146px;
  top: 1690px;
  left: 25px;
}

.main-menu .text-wrapper-20 {
  position: absolute;
  top: 1px;
  left: 145px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .coffee {
  position: absolute;
  width: 1234px;
  height: 146px;
  top: 1847px;
  left: 27px;
}

.main-menu .text-wrapper-21 {
  position: absolute;
  top: -2px;
  left: 145px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .perrier-mineral {
  position: absolute;
  width: 1234px;
  height: 146px;
  top: 2004px;
  left: 27px;
}

.main-menu .soda {
  position: absolute;
  width: 1234px;
  height: 146px;
  top: 2161px;
  left: 27px;
}

.main-menu .text-wrapper-22 {
  position: absolute;
  top: -5px;
  left: 149px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .soda-2 {
  position: absolute;
  width: 134px;
  height: 124px;
  top: 7px;
  left: 4px;
  object-fit: cover;
}

.main-menu .milk {
  position: absolute;
  width: 1234px;
  height: 146px;
  top: 2318px;
  left: 27px;
}

.main-menu .text-wrapper-23 {
  position: absolute;
  top: -2px;
  left: 149px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .sparkling-apple {
  position: absolute;
  width: 1234px;
  height: 146px;
  top: 2475px;
  left: 25px;
}

.main-menu .text-wrapper-24 {
  position: absolute;
  top: -5px;
  left: 145px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .mango-juice {
  position: absolute;
  width: 1234px;
  height: 146px;
  top: 2632px;
  left: 25px;
}

.main-menu .img-4 {
  position: absolute;
  width: 134px;
  height: 124px;
  top: 6px;
  left: 7px;
  object-fit: cover;
}

.main-menu .apple-juice {
  position: absolute;
  width: 1234px;
  height: 146px;
  top: 2789px;
  left: 25px;
}

.main-menu .text-wrapper-25 {
  position: absolute;
  top: 1px;
  left: 156px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .orange-juice {
  position: absolute;
  width: 1234px;
  height: 146px;
  top: 2946px;
  left: 25px;
}

.main-menu .text-wrapper-26 {
  position: absolute;
  top: 1px;
  left: 141px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .samboussa {
  position: absolute;
  width: 1236px;
  height: 146px;
  top: 707px;
  left: 26px;
}

.main-menu .overlap-group-5 {
  position: absolute;
  width: 305px;
  height: 67px;
  top: 3px;
  left: 156px;
}

.main-menu .text-wrapper-27 {
  position: absolute;
  top: 47px;
  left: 3px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: -1.12px;
  line-height: normal;
}

.main-menu .image-3 {
  width: 135px;
  height: 125px;
  top: 6px;
  left: 8px;
  position: absolute;
  object-fit: cover;
}

.main-menu .text-wrapper-28 {
  position: absolute;
  top: 1166px;
  left: 30px;
  font-family: "Source Sans 3", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.main-menu .text-wrapper-29 {
  position: absolute;
  top: 115px;
  left: 875px;
  font-family: "Source Sans 3", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: -2.45px;
  line-height: normal;
}

.main-menu .text-wrapper-30 {
  position: absolute;
  top: 115px;
  left: 1000px;
  font-family: "Source Sans 3", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: -2.45px;
  line-height: normal;
}

.main-menu .overlap-group-wrapper {
  position: absolute;
  width: 163px;
  height: 57px;
  top: 3px;
  left: 19px;
}

.main-menu .overlap-4 {
  position: relative;
  width: 161px;
  height: 57px;
}

.main-menu .ethiopia-restaurant {
  position: absolute;
  width: 161px;
  top: 0;
  left: 0;
  font-family: "Palanquin Dark", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.8px;
  line-height: 16.2px;
}

.main-menu .spork {
  position: absolute;
  width: 57px;
  height: 49px;
  top: 8px;
  left: 91px;
}

.main-menu .overlap-5 {
  position: relative;
  width: 58px;
  height: 49px;
}

.main-menu .overlap-group-6 {
  position: absolute;
  width: 25px;
  height: 30px;
  top: 19px;
  left: 17px;
}

.main-menu .ellipse {
  width: 5px;
  height: 33px;
  top: -2px;
  left: 10px;
  border-radius: 2.52px/16.27px;
  transform: rotate(36.81deg);
  position: absolute;
  background-color: #ffffff;
}

.main-menu .ellipse-2 {
  width: 5px;
  height: 32px;
  top: -1px;
  left: 10px;
  border-radius: 2.53px/16.24px;
  transform: rotate(-41.51deg);
  position: absolute;
  background-color: #ffffff;
}

.main-menu .ellipse-3 {
  width: 18px;
  height: 27px;
  top: 3px;
  left: 33px;
  border-radius: 9px/13.5px;
  transform: rotate(36.12deg);
  position: absolute;
  background-color: #ffffff;
}

.main-menu .overlap-6 {
  position: absolute;
  width: 28px;
  height: 29px;
  top: 2px;
  left: 0;
}

.main-menu .ellipse-4 {
  width: 5px;
  height: 19px;
  top: 7px;
  left: 6px;
  border-radius: 2.53px/9.64px;
  transform: rotate(-41.51deg);
  position: absolute;
  background-color: #ffffff;
}

.main-menu .ellipse-5 {
  width: 5px;
  height: 19px;
  top: -1px;
  left: 15px;
  border-radius: 2.53px/9.64px;
  transform: rotate(-41.51deg);
  position: absolute;
  background-color: #ffffff;
}

.main-menu .ellipse-6 {
  width: 5px;
  height: 22px;
  top: 3px;
  left: 11px;
  border-radius: 2.53px/11.16px;
  transform: rotate(-41.51deg);
  position: absolute;
  background-color: #ffffff;
}

.main-menu .ellipse-7 {
  width: 15px;
  height: 13px;
  top: 13px;
  left: 10px;
  border-radius: 7.58px/6.6px;
  transform: rotate(-41.51deg);
  position: absolute;
  background-color: #ffffff;
}
